html, body {
    margin: 0;
    padding: 0;
  }  
  header {
    background-color: #333333;
    color: #fff;
    text-align: center;
    
  }

footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Center vertically on the viewport */
}

.button-main {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #313438;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 5px;
    text-transform: uppercase;
}

.button {
    display: inline-block;
    margin: 10px; /* Add spacing between items */
    cursor: pointer;
    padding: 10px 20px;
    background-color: #394756;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.button-main:hover {
    background-color: #0056b3;
}
.jumbotron {
    height: 800px;
    background-image: url('https://www.uk.endress.com/__image/a/9053317/k/01127e4c6f877b7f9c90d7b70c77c2fb782b569f/ar/6-1/w/1920/t/jpg/b/ffffff/fn/E+H_Oil_and_gas.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
  }
  main h1 {
    font-size: 50px;
    padding: 0 40px;
    color: #462222;
  }
  .btn-main {
    background-color: #333;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 16px 40px;
    text-decoration: none;
    text-transform: uppercase;
  }
